<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "Demo testngwebdriver" parallel="tests" thread-count="2">
	<listeners>
	        <listener class-name="utility.TestListener"/>
	</listeners>

   <test name = "FIREFOX execution">
   		<parameter name = "browser" value="FIREFOX"/>
   		<parameter name = "v_driver" value="0.26.0"/>
		<classes>
		   <class name = "testcases.CalendarGoogle">
			   	<methods>
			              <include name="verifyMultiplicationCalendar" />
			     </methods>
		   </class>
		</classes>
   	</test>
</suite>