<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "calendarGoogle">

   <test name = "createTheAppointment_CHROME">
   		<parameter name = "BrowserName" value="FIREFOX"/>
   		<parameter name = "BrowserVersion" value=""/>
		<classes>
		   <class name = "testcases.CalendarGoogle">
			   	<methods>
			              <include name="createTheAppointment" />
			              <include name="VerifyMultiplicationCalendar" />
			      </methods>
		   </class>
		</classes>
   </test>
  
</suite>  	